<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/css/global.css" rel="stylesheet" type="text/css" />
    <title>@(ViewBag.Title ?? SiteMap.CurrentNode.Title)</title>
    @RenderSection("Head", false)
</head>
    <body>
        @Html.Partial("_Header")
        <div id="root-container" class="container-fluid">
            @{ Boolean showSidebar = SiteMap.CurrentNode != SiteMap.RootNode; }
            <div class="row-fluid">
                @if (showSidebar) {
                    <div id="sidebar" class="span2">
                        @if (IsSectionDefined("Sidebar")) {
                            @RenderSection("Sidebar")
                        } else {
                            @Html.Partial("_StandardSidebar")
                        }
                    </div>
                }
                <div id="content" class="@(showSidebar ? "span10" : "span12")">
                    @Html.Partial("_Breadcrumb")
                    @RenderBody()  
                </div>
            </div>
        </div>
        
        @Html.Partial("_Footer")
    
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/global.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>
