<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/css/global.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    @RenderSection("Head", false)
</head>
    <body>
        @Html.Partial("_TopNavbar")
        <div class="container-fluid">
            <div class="row-fluid">
                @if (IsSectionDefined("Sidebar")) {
                    <div class="span2">
                        @RenderSection("Sidebar")
                    </div>
                }
                <div class="@(IsSectionDefined("Sidebar") ? "span10" : "span12")">
                    @RenderBody()  
                </div>
            </div>
        </div>
    
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/global.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>
