<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@SiteMap.RootNode.Url">@SiteMap.RootNode.Title</a>
            <ul class="nav">
                @foreach (SiteMapNode node in @SiteMap.RootNode.ChildNodes)
                {
                    Boolean isActiveItem = node == SiteMap.CurrentNode;
                    <li class="@(isActiveItem ? "active" : "")">
                        <a href="@node.Url">@node.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
